.wrapper {
  margin-left: 35%;
  border-radius: 5px;
  border: 1px solid #c2c1c1;
  width: 30%;
  background-color: rgba(255, 255, 255, 1);
  p {
    margin-left: 5%;
  }
  .List {
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
    p {
      font-size: small;
    }
    button {
      margin-left: 1%;
    }
  }
}
