.Feedback {
  border-radius: 5px;
  border: 1px solid #c2c1c1;
  margin-top: 1%;
  margin-left: 35%;
  width: 22%;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;

  h1 {
    margin-left: 5%;
  }
  .DivFields {
    display: flex;
    flex-direction: column;
    margin: 5%;
  }
  button {
    margin-top: 5%;
  }
}
